body {
  background-color: #002e4d;
  margin: 0;
  padding: 0;
}

.container {
  width: 300px;
  height: 210px;
  margin: auto;
  margin-top: 50px;
  background-color: #002e4d;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  color: white;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.option.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.option.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.label {
  margin-bottom: 10px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 8px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #42b1fa;
}

input:focus + .slider {
  box-shadow: 0 0 1px #42b1fa;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
